<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wugui.datax.admin.mapper.JobRuleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wugui.datax.admin.entity.JobRule" id="jobRuleMap">
        <result property="id" column="id"/>
        <result property="jobInfoId" column="job_info_id"/>
        <result property="datasourceId" column="datasource_id"/>
        <result property="tables" column="tables"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
    </resultMap>
    <sql id="Base_Sql">
        id,job_info_id,datasource_id,tables,create_time,create_user_id
    </sql>
    <select id="pageList" resultType="com.wugui.datax.admin.entity.JobRule">
        select <include refid="Base_Sql"/>,
        b.job_desc as jobDesc,
        c.username as username
        from job_rule as a left join job_info as b on a.job_info_id = b.id
        left join job_user as c on a.create_user_id = c.id
        order by create_time
        limit #{offset},#{pageSize}
    </select>
    <select id="pageListCount" resultType="java.lang.Integer">
        select count(1) from job_rule
    </select>


</mapper>