<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wugui.datax.admin.datashare.mapper.TApplyResourceMapper" >
  <resultMap id="BaseResultMap" type="com.wugui.datax.admin.datashare.entity.TApplyResource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="inter_id" property="interId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="info_id" property="infoId" jdbcType="VARCHAR" />
    <result column="info_name" property="infoName" jdbcType="VARCHAR" />
    <result column="info_extract" property="infoExtract" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="res_type" property="resType" jdbcType="VARCHAR" />
    <result column="apply_img" property="applyImg" jdbcType="VARCHAR" />
    <result column="use_scene" property="useScene" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inter_id, user_id, info_id, info_name, info_extract, contacts, telephone, res_type,
    apply_img, use_scene, state, business_type, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_apply_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_apply_resource
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_apply_resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResourceExample" >
    delete from t_apply_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResource" >
    insert into t_apply_resource (id, inter_id, user_id,
      info_id, info_name, info_extract,
      contacts, telephone, res_type,
      apply_img, use_scene, state,
      business_type, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{interId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      #{infoId,jdbcType=VARCHAR}, #{infoName,jdbcType=VARCHAR}, #{infoExtract,jdbcType=VARCHAR},
      #{contacts,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{resType,jdbcType=VARCHAR},
      #{applyImg,jdbcType=VARCHAR}, #{useScene,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
      #{businessType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResource" >
    insert into t_apply_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interId != null" >
        inter_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="infoName != null" >
        info_name,
      </if>
      <if test="infoExtract != null" >
        info_extract,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="resType != null" >
        res_type,
      </if>
      <if test="applyImg != null" >
        apply_img,
      </if>
      <if test="useScene != null" >
        use_scene,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="interId != null" >
        #{interId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="infoName != null" >
        #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="infoExtract != null" >
        #{infoExtract,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=VARCHAR},
      </if>
      <if test="applyImg != null" >
        #{applyImg,jdbcType=VARCHAR},
      </if>
      <if test="useScene != null" >
        #{useScene,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResourceExample" resultType="java.lang.Integer" >
    select count(*) from t_apply_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_apply_resource
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.interId != null" >
        inter_id = #{record.interId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoId != null" >
        info_id = #{record.infoId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoName != null" >
        info_name = #{record.infoName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoExtract != null" >
        info_extract = #{record.infoExtract,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null" >
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.resType != null" >
        res_type = #{record.resType,jdbcType=VARCHAR},
      </if>
      <if test="record.applyImg != null" >
        apply_img = #{record.applyImg,jdbcType=VARCHAR},
      </if>
      <if test="record.useScene != null" >
        use_scene = #{record.useScene,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_apply_resource
    set id = #{record.id,jdbcType=VARCHAR},
    inter_id = #{record.interId,jdbcType=VARCHAR},
    user_id = #{record.userId,jdbcType=VARCHAR},
    info_id = #{record.infoId,jdbcType=VARCHAR},
    info_name = #{record.infoName,jdbcType=VARCHAR},
    info_extract = #{record.infoExtract,jdbcType=VARCHAR},
    contacts = #{record.contacts,jdbcType=VARCHAR},
    telephone = #{record.telephone,jdbcType=VARCHAR},
    res_type = #{record.resType,jdbcType=VARCHAR},
    apply_img = #{record.applyImg,jdbcType=VARCHAR},
    use_scene = #{record.useScene,jdbcType=VARCHAR},
    state = #{record.state,jdbcType=VARCHAR},
    business_type = #{record.businessType,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResource" >
    update t_apply_resource
    <set >
      <if test="interId != null" >
        inter_id = #{interId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="infoName != null" >
        info_name = #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="infoExtract != null" >
        info_extract = #{infoExtract,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        res_type = #{resType,jdbcType=VARCHAR},
      </if>
      <if test="applyImg != null" >
        apply_img = #{applyImg,jdbcType=VARCHAR},
      </if>
      <if test="useScene != null" >
        use_scene = #{useScene,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wugui.datax.admin.datashare.entity.TApplyResource" >
    update t_apply_resource
    set inter_id = #{interId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      info_id = #{infoId,jdbcType=VARCHAR},
      info_name = #{infoName,jdbcType=VARCHAR},
      info_extract = #{infoExtract,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      res_type = #{resType,jdbcType=VARCHAR},
      apply_img = #{applyImg,jdbcType=VARCHAR},
      use_scene = #{useScene,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>



  <select id="getResourceList" parameterType="com.wugui.datax.admin.datashare.vo.ApplyResourceQuery" resultMap="resourceMap">
    SELECT d.info_id,d.info_name,d.data_company,d.info_extract,d.data_server_name,CASE WHEN d.info_name=i.info_name THEN i.share_attribute END AS share_property,CASE WHEN d.info_id=a.info_id THEN '已申请'ELSE '未申请' END AS is_apply,
    COUNT(DISTINCT d.info_name) FROM t_data_catalog d LEFT JOIN t_apply_resource a ON d.info_id=a.info_id  LEFT JOIN t_data_item i ON d.info_name= i.info_name
    <where>
      <if test="infoName !=null and infoName !=''">
        and d.info_name LIKE "%"#{infoName}"%"
      </if>
      <if test="dataCompany !=null and dataCompany !=''">
        and d.data_company LIKE "%"#{dataCompany}"%"
      </if>
    </where>
    GROUP BY d.info_name
  </select>

  <select id="getResourceListTotal" parameterType="com.wugui.datax.admin.datashare.vo.ApplyResourceQuery" resultType="java.lang.Integer">
    SELECT COUNT(DISTINCT d.info_name) FROM t_data_catalog d LEFT JOIN t_apply_resource a ON d.info_id=a.info_id  LEFT JOIN t_data_item i ON d.info_name= i.info_name
    <where>
      <if test="infoName !=null and infoName !=''">
        and d.info_name LIKE "%"#{infoName}"%"
      </if>
      <if test="dataCompany !=null and dataCompany !=''">
        and d.data_company LIKE "%"#{dataCompany}"%"
      </if>
    </where>
  </select>
  <resultMap id="resourceMap" type="com.wugui.datax.admin.datashare.vo.ResourceList">
    <result column="info_id" property="infoId" jdbcType="VARCHAR" />
    <result column="info_name" property="infoName" jdbcType="VARCHAR" />
    <result column="data_company" property="dataCompany" jdbcType="VARCHAR" />
    <result column="info_extract" property="infoExtract" jdbcType="VARCHAR" />
    <result column="data_server_name" property="dataServerName" jdbcType="VARCHAR" />
    <result column="share_property" property="shareProperty" jdbcType="VARCHAR" />
    <result column="is_apply" property="isApply" jdbcType="VARCHAR" />
  </resultMap>

</mapper>