<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wugui.datax.admin.mapper.UniversalRuleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wugui.datax.admin.entity.UniversalRule" id="universalRuleMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <result property="type" column="type"/>
        <result property="personaliseId" column="personalise_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="pageList" resultType="com.wugui.datax.admin.entity.UniversalRule">
        select a.id,a.name,a.code,a.description,a.type,b.join_type as personaliseJoinType,b.code as personaliseCode
        from universal_rule as a
        left join personalise_rule as b
        on a.personalise_id = b.id
        where a.is_delete = 0
        <if test="name != null and name != '' ">
            and a.name like CONCAT(CONCAT('%', #{name}), '%')
        </if>
        order by a.create_time desc
        limit #{offset}, #{pageSize}
    </select>
    <select id="pageListCount" resultType="java.lang.Integer">
        select count(1) from universal_rule as a
        left join personalise_rule as b
        on a.personalise_id = b.id
        where a.is_delete = 0
        <if test="name != null and name != '' ">
            and a.name like CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </select>


</mapper>