<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wugui.datax.admin.mapper.UniversalRuleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wugui.datax.admin.entity.UniversalRule" id="universalRuleMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <result property="type" column="type"/>
        <result property="personaliseType" column="personalise_type"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <update id="updateIsDelete">
        update universal_rule set is_delete=1 where id = #{id}
    </update>

    <select id="pageList" resultType="com.wugui.datax.admin.entity.UniversalRule">
        select a.id,a.name,a.code,a.description,a.type,a.personalise_type,a.relation,a.regular
        from universal_rule as a
        where a.is_delete = 0
        <if test="name != null and name != '' ">
        and a.name like CONCAT(CONCAT('%', #{name}), '%')
        </if>
        order by a.create_time desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        select count(1) from universal_rule as a
        where a.is_delete = 0
        <if test="name != null and name != '' ">
            and a.name like CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </select>
    <select id="selectUniversalNameByType" resultType="com.wugui.datax.admin.entity.UniversalRule">
        select id,name from universal_rule
        where is_delete = 0
        and type = #{type}
    </select>
    <select id="selectUniverToPerson" resultType="com.wugui.datax.admin.entity.UniversalRule">
        select
        concat(a.code,':',b.code) as code,
        concat(case a.type when 0 then '完整性'
        when 1 then '准确性'
        when 2 then '规范性'
        when 3 then '唯一性'
        when 4 then '一致性'
        when 5 then '关联性' end,
        ':',a.name,':',b.name) as name from
        universal_rule as a
        inner join personalise_rule as b
        on a.personalise_type = b.join_type
        where
        a.is_delete=0
        and b.is_delete=0
            and a.personalise_type is not null
        and a.relation=0
        union all
        select
        c.code as code,
        concat(case c.type when 0 then '完整性'
        when 1 then '准确性'
        when 2 then '规范性'
        when 3 then '唯一性'
        when 4 then '一致性'
        when 5 then '关联性' end,
        ":",c.name) as name
        from universal_rule as c
        where c.relation = 1
        and c.is_delete = 0

    </select>
    <select id="selectCountByCode" resultType="java.lang.Integer">
        select count(1) from universal_rule where is_delete=0 and code = #{code}
    </select>
    <select id="selectByCode" resultType="com.wugui.datax.admin.entity.UniversalRule">
        select * from universal_rule where code=#{code}
    </select>

    <select id="getUsedRuleDistribution" resultType="map">
        select rule_code ruleCode,count(1) num from job_rule_info group by rule_code
    </select>
</mapper>