<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugui.datax.search.mapper.SearchMapper">
  <resultMap id="BaseResultMap" type="com.wugui.datax.search.domain.Search">
      <id column="id" property="id" />
      <result column="task_name" property="taskName" />
      <result column="table_name" property="tableName" />
      <result column="intro" property="intro" />
      <result column="description" property="description" />
      <result column="image_url" property="imageUrl"/>
      <result column="jdbc_datasource_id" property="jdbcDatasourceId" />
  </resultMap>
</mapper>